@media (max-width: 1399px) {
    .sidepanel {
        top: 170px;
        left: 5px;
    }
    .promo {
        .container {
            padding-left: 70px;
        }
    }
    .about-me {
        padding-top: 40px;
    }
}

@media (max-width: 1199px) {
    .sidepanel {
        display: none;
    }
    .promo {
        .container {
            padding-left: 120px;
        }
    }
    .about-me {
        padding: 40px 10px 0;
    }
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    .promo {
        .container {
            padding: 0 10px;
        }
        .title--fz48 {
            font-size: 40px;
        }
    }
}

@media (max-width: 575px) {
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
        &__link {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .promo {
        padding-top: 200px;
        .title--fz48 {
            font-size: 26px;
            line-height: 39px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
}