.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000;
    margin-top: 6px;
    &--fz14 {
        font-size: 14px;
        line-height: 21px;
        margin-top: 0;
    }
    &--fz16 {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
    }
    &--fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &--fz48 {
        font-size: 48px;
        margin-top: 10px;
    }
    &__section-title {
        text-align: center;
        @include before-circle;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
        @include after-divider;
    }
}